#load_button {
    margin: auto;
    display: block;
    width: 200px;
}
.feed{
    width: auto;
    height: auto;
    align-self: center;
}       
ul{
    list-style-type: none;
}
ul li{
    width: auto;
    height: auto;
}
.container{
    margin: auto;
    width: max-content;
}

#container_footer{
    height: 30px;
}